html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #e8e8e8;
}

/*SECCION PRINCIPAL*/


main {
    position: relative;
    background-color: #e8e8e8;
    width: 71%;
    height: 100vh;
    padding: 2rem 2rem;
}

    /*seccion de imagen*/

.image__container{
    width: 100%;
    height: 100%;
}

.image__container img {
    width: 100%;
    height: 100%;
    border-radius: 8rem;
}


.image__container article {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    width: 40rem;
    height: 20rem;
    right: 2rem;
    bottom: 25rem;
    gap: 1rem;
    color: #ffffff;
    padding-right: 3rem;
}

.image__container article h3 {
    font-size: 2rem;
    text-align: end;
}

.image__container article p {
    font-size: 1.6rem;
    text-align: end;
}

.image__container article a {
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1.6rem;
    background-color: #0d78cc;
    cursor: pointer;
}

.image__container article a:hover {
    background-color: black;
}


    /*seccion otras tiendas*/

.stores__container {
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    width: 55rem;
    height: 20rem;
    border-radius: 4rem;
    right: 2rem;
    bottom: 2rem;
    background-color: #e8e8e8;
}

.stores__container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 95%;
    height: 90%;
    background-color: #0d78cc;
    padding: 1rem;
    border-radius: 6rem;
}

.stores__container h3 {
    font-size: 1.4rem;
    font-family: "Michroma", "sans-serif";
}

.stores__list {
    width: 100%;
    height: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1fr 1fr;
}

.stores__list a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 3.8rem;
    font-size: 1rem;
    text-align: center;
    width: 85%;
    height: 80%;
    border: 1px solid #fff;
    border-radius: 2rem;
    color: #fff;
}

.stores__list a:hover {
    background-color: black;
}

.stores__container div p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* SECCION LATERAL */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 100vh;
    padding: 2rem;
}



    /* barra de navegacion */

.search__container {
    position: relative;
    width: 100%;
    height: 4rem;
}


.search__container input {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: 0;
    box-shadow: 4px 3px 9px 1px rgba(0,0,0,0.23);
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.search__container input::placeholder {
    color: #0d78cc;
}

.search-icon {
    color: #fff;
    background-color: #0d78cc;
    padding: .4rem;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translate(0, -50%);
}

    /* seccion prendas */

.prendas__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    box-shadow: 4px 3px 9px 1px rgba(0,0,0,0.23);
    background-color: #fff;
}

.prendas__container h3 {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Michroma", "sans-serif";
    line-height: 3rem;
}

.flag-icon {
    color: #0d78cc;
}

.button-back{
    position: absolute;
    left: 4rem;
    top: 50%;
    transform: translate(0,-50%);
    color: #fff;
}

.button-back i {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    background-color: #0d78cc;
    border-radius: 3rem;
}

.button-back i:hover {
    background-color: #000;
}

.prendas__container > div {
    position: relative;
    width: 65%;
    height: 18rem;
}

.prendas__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    box-shadow: 4px 3px 9px 1px rgba(0,0,0,0.23);
}

.prendas__container a {
    text-decoration: none;
    color: #000;
}

.cart-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #0d78cc;
    border-radius: 50%;
    padding: .2rem;
    font-size: 2.4rem;
}

.prendas__container p {
    font-size: 1.2rem;
}


    /* historial */

.historial__container {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 4px 3px 9px 1px rgba(0,0,0,0.23);
    gap: 1rem;
    background-color: #fff;
}

.historial__container h3 {
    gap: 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.historial__container h3 span {
    width: 16rem;
    font-size: 1.5rem;
    font-family: "Michroma", "sans-serif";
    line-height: 2rem;
}

.history-icon {
    color:#0d78cc;
    font-size: 3.3rem;
}


.list__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 1rem;
}

.list__container a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
}

.list__container a:hover {
    box-shadow: 4px 3px 9px 1px rgba(0,0,0,0.73);
}

.cart2-icon {
    margin-right: 2rem;
    color: #0d78cc;
}


